@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes rgb-bg { /*title*/
    0% {background-color: #FF0100}
    12.5% {background-color: #FE6A00}
    25% {background-color: #FFFD00;}
    37.5% {background-color: #15FF00;}
    50% {background-color: #00FFF9;}
    62.5% {background-color: #020DFF;}
    75% {background-color: #FF00C8;}
    87.5% {background-color: #FF0F8C;}
    100% {background-color: #FF0100;}
}

@keyframes rgb-border { /*none*/
    0% {border: 4px solid #FF0100}
    12.5% {border: 4px solid #FE6A00}
    25% {border: 4px solid #FFFD00;}
    37.5% {border: 4px solid #15FF00;}
    50% {border: 4px solid #00FFF9;}
    62.5% {border: 4px solid #020DFF;}
    75% {border: 4px solid #FF00C8;}
    87.5% {border: 4px solid #FF0F8C;}
    100% {border: 4px solid #FF0100;}
}

/*3d*/
model-viewer{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.m3d{
    position: relative;
    width: 260px;
    height: 260px;
    background-color: rgba(31, 31, 31, 0);
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
}
p.model{
    margin-bottom: 3px;
    font-size: 10px;
}
/*general*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(31, 31, 31);
}
main{
    transition: .2s;
}
/*informaçõs*/
.i-i{
    z-index: 4;
    position: fixed;
    width: 10px;
    height: 10px;
    border: #000 solid 2px;
    border-radius: 100%;
    cursor: default;
    bottom: 2px;
    right: 3px;
}
p.inff{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 1000;
    font-size: 12px;
}
.subtitle{
    font-weight: 900;
    font-size: 17px;
}
/*periodic table*/
.pertab{
    transform: scale(0.95);
    margin-top: 20px;
    min-width: 1600px;
}
/*title*/
div.title{
    animation: rgb-bg 7s infinite;
    font-family: "Madimi One", sans-serif;
    font-size: 32px;
    font-weight: 600;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 430px;
    padding: 10px;
    margin-left: 27%;
    margin-bottom: -150px;
    border: 5px #000 solid;
    box-shadow: 
    -2px -2px 5px white,
    2px 2px 5px white,
    2px -2px 5px white,
    -2px 2px 5px white;
}
/*tabel*/
.container{
    text-align: center;
}
.container-2{
    text-align: center;
    margin-top: 10px;
}
/*research*/
.inf-title{
    font-family: "Roboto mono", sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -10px;
}
.info{
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
}
.inf{
    width: 300px;
    max-height: 80%;
    padding: 10px;
    border: #ffffff44 4px solid;
    border-radius: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;
    position: fixed;
    text-align: justify;
    overflow-y: scroll;
    overflow-x: hidden;
}
button.xzim{
    z-index: 4;
    font-size: 13.5px;
    position: absolute;
    left: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: 900;
    padding: 10px;
    margin-left: -29px;
    margin-top: -32px;
    text-shadow: 
    -2px -2px 3px white,
    2px 2px 3px white,
    2px -2px 3px white,
    -2px 2px 3px white;
}
.aut{
    background-color: rgba(0, 0, 0, 0.295);
    margin-top: 4px;
    padding-left: 3px;
    padding-top: 1px;
    border-radius: 3px;
}
#tp{
    transition: .2s;
}
/*label*/
.caption{
    border: 5px solid #5757578e;
    border-radius: 7px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 1000px;
}
.sq{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
}
.captext{
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    color: whitesmoke;
}
.capmat{
    padding: 10px;
    display: inline-block;
}
/*elements color*/
.nm{
    background-color: #A1D344;
}
.nothing{
    background-color: #00000000;
    border-color: #00000000 !important;
}
.gn{
    background-color: #3D9EE3;
}
.ma{
    background-color: #F1B200;
}
.mat{
    background-color: #EADA00;
}
.sm{
    background-color: #4DB6AC;
}
.h{
    background-color: #70CBEB;
}
.s{
    background-color: #ffee00;
}
.om{
    background-color: #A2C7D3;
}
.mt{
    background-color: #EB8E8E;
}
.l{
    background-color: #90E3E9;
}
.a{
background-color: #DCADD6;
}
/*in tabel elements*/
.el{
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 71px;
    height: 71px;
    vertical-align: middle;
    border: #ffffff44 4px solid;
    border-radius: 7px;
    margin-left: 3px;
    margin-bottom: 7px;
    transition: .1s;
    cursor: pointer;
}
.el2{
    display: inline-block;
    text-align: center;
    width: 71px;
    height: 71px;
    vertical-align: middle;
    border: #ffffff44 4px solid;
    border-radius: 7px;
    margin-left: 3px;
    margin-bottom: 7px;
    transition: .1s;
    cursor: pointer;
}
.el:hover{
    transform: scale(1.1);
}
.n{
    font-family: "Signika Negative", sans-serif;
    font-size: 13px;
    text-align: left;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: -8px;
}
.simb{
    font-family: "Chakra Petch", sans-serif;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: -3px;
}
.sub{
    font-family: "Signika Negative", sans-serif;
    font-size: 11px;
    margin-top: -5px;
    margin-bottom: -3px;
}
.subn{
    font-family: "Signika Negative", sans-serif;
    font-size: 12px;
}
/*media*/
@media screen and (max-width: 1545px) {
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
    .pertab{
        margin-left: -50px;
    }
}
